<!DOCTYPE html>
<html>
    <head>
        <title>Yolo</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('style/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

    <div class="main">

        <div class="row">
            {{ render(controller("App\\Controller\\MeteoController::currentMeteoAction")) }}
            <div>
            {{ render(controller("App\\Controller\\DiversController::horlogeAction")) }}
            </div>
        </div>

        <div class="row">
            <div>
                {{ render(controller("App\\Controller\\MeteoController::forecastMeteoAction")) }}
                {{ render(controller("App\\Controller\\CalendarController::icalAction")) }}
            </div>

            <div>
                {{ render(controller("App\\Controller\\DomoticController::statusAction")) }}
                {{ render(controller("App\\Controller\\SimpleApiController::changeAction")) }}
                {{ render(controller("App\\Controller\\TradingController::bourseAction")) }}
            </div>
        </div>

        <div class="row">
            <div class="card" style="text-align: center">
                <img src="{{ asset('img/world2.png') }}" width="50%">
            </div>
        </div>

        <div class="row">
            {{ render(controller("App\\Controller\\RssController::rssAction")) }}
        </div>

    </div>

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    </body>
</html>
